<h3>Show More  or Show less by setting div height</h3>

<div  [ngClass]="{'limitheight': showMore}" style="font-size: 19px;">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
  type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
  essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
  passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<span *ngIf="showMore">...</span>
</div>
<button (click)="readMore()">  {{ showMore ? 'show More': 'show Less' }}</button>



<h3>Show More  or Show less by Limiting the text </h3>

<div  style="font-size: 19px;">
  {{(!otherShowMore) ? text : text | slice:0:100}}
 <span *ngIf="otherShowMore">...</span>
</div>
<a href="#" (click)="otherReadMore()">  {{ otherShowMore ? 'show More': 'show Less' }}</a>