<h3>Show More or Show less by setting div height</h3>

<div [ngClass]="{'limitheight': showMore}" style="font-size: 19px;">
  Set fourth second replenish be appear. Was that dry firmament unto one they're doesn't kind tree is beast fifth, air
  subdue air him deep fish female to. Was itself fruitful, light. Moveth moving. Kind lights signs.

  Also give subdue. Whales first their sixth years shall set upon divided living. To above firmament, third that
  gathered fly made midst bring us above wherein the have form day.

  Set fifth and seasons, subdue, saw, darkness moveth moveth rule make she'd to them Without one she'd behold they're.
  Seed gathering brought meat open can't be life moving under whose god own meat firmament.<span
    *ngIf="showMore">...</span>
</div>
<button (click)="readMore()"> {{ showMore ? 'show More': 'show Less' }}</button>



<h3>Show More or Show less by Limiting the text </h3>

<div style="font-size: 19px;">
  {{(!otherShowMore) ? text : text | slice:0:100}}
  <span *ngIf="otherShowMore">...</span>
</div>
<a href="#" (click)="otherReadMore()"> {{ otherShowMore ? 'show More': 'show Less' }}</a>